body {
    max-width: 500px;
    margin: auto;
    padding-top: 25px;
}

.clear {
    clear: both;
}

/** TOP MENU */

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    display: inline;
    margin: 1%;
    float: left;
}

.menu li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.menu img {
    height: 25%;
    width: 25%;
}

/** MAIN IMAGE */

.main-img {
    max-width: 500px;
    margin: auto;
}

.main-img img {
    height: 500px;
    width: 500px;
}

.main-img ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-img li {
    display: inline;
    float: left;
}

.main-img li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/** PROFILE IMAGE */

.profile img {
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 5%;
}

.profile-main img {
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 5%;
}

/** Caption and Comments */

.profile-caption-comment img {
    float: left;
    height: 25px;
    width: 25px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 2%;
}

* {
    box-sizing: border-box;
}

/* The grid: three equal columns that float next to each other */

.column-medium {
    float: left;
    width: 66%;
    padding: 10px;
}

.column {
    float: left;
    width: 33%;
    padding: 5px;
}

.column img {
    height: 150px;
    width: 150px;
}

.profile-lg {
    padding-top:35px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
